node_modules/
package-lock.json

## CI
dist/
log/
lint/
build/

coverage/
.nyc_output/

## IDE
*.code-workspace
.vscode/
.idea/

## Function Compute
.fun/
.fcli/
.env
.Funfile.generated.dockerfile

*.tt[fc]
